PORT=5000
# You can use either MONGO_URI or MONGODB_URI - both will work
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/your_database
# MONGODB_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/your_database
JWT_SECRET=your_jwt_secret
NODE_ENV=development 